.shop__container {
  
  .shop__container__title {
    padding-top: 4rem;
    background: #E6E6E6;

    & > h2 {
      color: #A5A4A4;
    }
  } 
}

@media (min-width: 768px) {

  .shop__container {

    .shop__container__title {
      padding: 2rem 0;
    }

    .shop__container__data {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      .shop__container__data__item {
        width: calc(50% - 1rem); /* Начинайте с 50% ширины (2 в строке) */
        max-width: 35rem; /* Максимальная ширина 50rem */
        margin-bottom: 1rem; /* Расстояние между изображениями */
        box-sizing: border-box;
      }
    }
  }
}