.items__container {
  .items__container__title {
    padding-top: 4rem;
    background: #E6E6E6;

    & > h2 {
      color: #A5A4A4;
    }
  } 

  .items__container__data__wrapper {

    .items__container__data__wrapper__properties {

      .items__container__data__wrapper__properties__search {

        & > input {
          border: 0.1rem solid #CCCCCC;
          outline: none;

        }

        & > button {
          right: 0;
          transition: all 0.1s linear;
          cursor: pointer;

          &:hover {
            scale: 0.9;
          }
          &:active {
            scale: 0.8;
          }
        }
      }

      .items__container__data__wrapper__properties__topic {

        & > ul {
          & > li {
            & > button {
              background: $primary-color;
              color: $accent-color;
              border: 0.1rem solid $accent-color;
              border-radius: 0.5rem;
              font-size: 1.25rem; /* 20px */
              line-height: 1.75rem; /* 28px */
              width: 100%;
              padding: 0.5rem 1rem;
              text-align: center;
              transition: all 0.1s linear;

              &:hover {
                background: $accent-color;
                color: $primary-color;
              }

              &:active {
                scale: 0.9;
              }
            }

            & > .active {
              background: $accent-color;
              color: $primary-color;
            }
          }
        }
      }

      .items__container__data__wrapper__properties__price {
        
        & > input {
          -webkit-appearance: none;
          position: relative;
          height: 0.75rem;
          background: $primary-color;
          border: 0.1rem solid #A0A0A0;
          border-radius: 0.5rem;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 1.75rem;
            height: 1.75rem;
            background: $accent-color;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.1s linear;
            box-shadow: 0 0.15rem 0.25rem 0 rgba(0,0,0,0.5);
          }

          &::after {
            content: '';
            position: absolute;
            top: -0;
            left: 0;
            width: var(--width-after, 100%);
            height: 100%;
            background: $accent-color;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
          }
        }
      }
    }
    .items__container__data__wrapper__data {
        
      .items__container__data__wrapper__data__item {

        .items__container__data__wrapper__data__item__add-button {
          top: 0;
          right: 0;
          background: $accent-color;
          color: $primary-color;
          aspect-ratio: 1/1;
          width: 3.5rem;
          margin: 1rem;
          transition: all 0.1s linear;

          &:hover {
            box-shadow: 0 0 1rem 0.1rem $accent-color;
            border-radius: 0.5rem;
          }
          &:active {
            scale: 0.9;
          }
        }

        .items__container__data__wrapper__data__item__info{
          display: flex;
          align-items: flex-start;

          & > .location {
            color: gray;
          }
        }
      }
    }
    .items__container__data__wrapper__button {
      color: $primary-color;
      background: $accent-color;
      transition: all 0.1s linear;

      &:hover {
        box-shadow: 0 0 1rem 0.1rem $accent-color;
        border-radius: 0.5rem;
      }

      &:active {
        scale: 0.9;
      }
    }
  }
}

@media (min-width: 768px) {

  .items__container {

    .items__container__title {
      padding: 2rem 0;
    }

    .items__container__data__wrapper {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "properties data" "properties button";
      gap: 3rem;
      margin: 0 10vw 0 10vw;
      justify-items: center;

      .items__container__data__wrapper__properties {
        grid-area: properties;

        .items__container__data__wrapper__properties__topic {
        
          .items__container__data__wrapper__properties__topic__buttons-container {
            display: flex;
            flex-direction: column;
            gap: 0;

            & > li {
              & > button {
                border: none;

                &:hover {
                  // border-radius: 0rem;
                  background: transparent;
                  color: $accent-color;
                  scale: 0.8;
                  box-shadow: 0 0 1rem 0.1rem $accent-color;
                }
              }

              & > .active {
                border-radius: 0;

                &:hover {
                  border-radius: 0.5rem;
                }
              }

              &:not(:last-child) {
                border-bottom: 0.1rem solid #EFEFEF;
              }
            }
          }
        }
      }

      .items__container__data__wrapper__data {
        grid-area: data;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .items__container__data__wrapper__data__item {
          max-width: 30rem;
          margin: auto;
        }
      }

      .items__container__data__wrapper__button {
        grid-area: button;
        width: 75%;
        justify-self: center;
      }

    }
  }
}

@media (min-width: 1440px) {
  .items__container {
    .items__container__data__wrapper {
      margin: 0 20vw 0 20vw;
    }
  }
}