.header-container {
  position: relative;
  background: rgba(0, 0, 0, 0.5);

  .header-container__mobile-responsive__company-name {
    transform: translateX(-50%);
  }

  .header-container__mobile-responsive-active {
    display: none;
  }

  .header-container__company-name {
    color: $primary-color;

    & > span {
      position: relative;
      color: $regular-color;
      z-index: 1;
    
      &::after {
        content: '';
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        height: 70%;
        background: $primary-color;
        z-index: -1;
      }
    }
  }

  .header-container__button {
    padding: 0.25rem;
    border-bottom: 0.2rem solid transparent;
    transition: all 0.1s linear;

    &:hover {
      border-color: $primary-color;
    }

    &:active {
      scale: 0.9;
    }
  }

  .header-container__navigation-menu {
    display: none;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: $primary-color;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */

    .header-container__navigation-menu__list {
      text-transform: uppercase;

      .header-container__navigation-menu__list__element {
        cursor: pointer;
        transition: all 0.1s linear;

        &:hover {
          scale: 0.9;
        }
        &:active {
          scale: 0.85;
        }
      }
    }
  }

  .header-container__navigation-menu-active {
    display: flex;
  }
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 10%;

    .header-container__menu-button {
      display: none;
    }
    
    .header-container__mobile-responsive__company-name {
      display: none;
    }

    .header-container__navigation-menu {
      padding: 8px;
      flex: 1;
      display: flex;
      flex-direction: row;
      padding-left: 10%;
      pointer-events: none;

      & > * {
        pointer-events: all;
      }


      .header-container__navigation-menu__list {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
      }

      .header-container__navigation-menu__close-button {
        display: none;
      }
    }
  }
}