.main__container {
  .main__container__discover {
    position: relative;
    z-index: -1;
    color: $primary-color;

    .main__container__discover__img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .main__container__discover__text {
      position: absolute;
      bottom: 5%;
      left: 5%;
      max-width: 45vw;

      & > h1 {
        font-size: 8vw;
        line-height: 7.5vw;
      }

      & > p {
        font-size: 2.5vw;
        line-height: 2.5vw;
      }
    }
  }

  .main__container__foods {
    position: relative;
    display: grid;
    gap: 2rem;
    margin: 2rem 1rem;

    .main__container__foods__food {
      position: relative;
      padding: 1rem;
      display: flex;
      background: #F4F4F4;

      .main__container__foods__food__text {
        position: absolute;
        width: 62%;

        & > h1 {
          color: #969595;
        }

        & > p {
          font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
          font-weight: bold;
        }
      }

      .main__container__foods__food__img {
        margin-left: auto;
        max-width: 5rem;
        width: 30%;
      }

      &:last-child {
      
        .main__container__foods__food__img {
          max-width: 10rem;
          width: 60%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main__container {
    .main__container__discover {
      .main__container__discover__text {
        top: 25%;
        max-width: 28vw;

        & > h1 {
          font-size: 5vw;
          line-height: 4.5vw;
        }
  
        & > p {
          font-size: 1.5vw;
          line-height: 1.5vw;
        }
      }
    }
  }
}
